mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table {
    width: 100%;
    align-items: left;
  }

 .mat-column-name {
   flex: 0 0 70%;
 }

 .mat-column-weight {
  flex: 0 0 15%;
}

.space-left{
  margin-left: 20px;
}