<div fxLayout="row" fxLayoutAlign="space-between">
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <span>
                <button mat-button (click)="navigateToolbarButton()">
                    <mat-icon >fitness_center</mat-icon>
                    <span>{{title}}</span>
                </button>
            </span>
            <span class ="example-spacer"></span>
            <div *ngIf="appData.isLoggedIn">
                <button mat-button class="name-button" (click)="logOut()">  
                    <span>Hi {{appData.givenName}}!</span>
                </button>
                <button mat-button  (click)="logOut()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>